<ww-sidebar>
    <ww-container>
        <h1>inventario</h1>
        <hr>
        <div class="buttons">
            <ww-button (click)="product=true;category=false;provider=false">
                <button [ngClass]="{sunset:product}">PRODUCTO</button>
            </ww-button>
            <ww-button (click)="product=false;category=true;provider=false">
                <button [ngClass]="{sunset:category}">CATEGORIA</button>
            </ww-button>
            <ww-button (click)="product=false;category=false;provider=true">
                <button [ngClass]="{sunset:provider}">PROVEDOR</button>
            </ww-button>
        </div>
        <hr>
        <div class="mt-4">
            <app-product *ngIf="product"></app-product>
            <app-category *ngIf="category"></app-category>
            <app-provider *ngIf="provider">
            </app-provider>
        </div>
    </ww-container>
</ww-sidebar>