@import '../../../styles.scss';

::ng-deep ww-modal-form form{
    max-width: 600px;
    margin: auto;
    background: $dark;
    padding: 1.5em;
    border: 1px solid transparent;
    border-image: $gray;
    border-image-slice: 1;
    margin-top: 2em;
    h2{
        text-transform: uppercase;
        letter-spacing: 0.25em;
        font-size: 1.25em;
        font-weight: lighter;
        margin: 0px;
    }
    .input-field{
        display: flex;
        flex-wrap: wrap;
        ww-text, ww-combo{
            width: calc(50% - 1em);
            margin-right: 1em;
        }
    }
}