<ww-sidebar>
    <div class="workspace">
        <div class="card">
            <h1>
                Bienvendido
            </h1>
            <hr>
            <h1 class="name">
                Daniel Lucario
            </h1>
            <hr>
            <p>
                Puede comenzar a trabajar seleccionado
                <br>
                <b>"ver herramientas disponibles"</b>
                <br>
                en la barra
                lateral
            </p>
        </div>
    </div>
</ww-sidebar>