@import "../../../styles.scss";

.workspace{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 3em;
    .card{
        max-width: 400px;
        h1{
            font-size: 1em;
            text-transform: uppercase;
            font-weight: lighter;
            letter-spacing: 0.25em;
            color: $the_gray;
        }
        .name{
            font-weight: bold;
            font-size: 1.5em;
            background: $leaf;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            text-align: right;
            line-height: 1.5em;
        }
    }
}
