@import "../../../styles.scss";

.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card{
        max-width: 300px;
        border: 1px solid transparent;
        border-image: $gray;
        border-image-slice: 1;
        padding: 1.5em;
        .brand{
            .logo{
                text-align: center;
                img{
                    width: 200px;
                    height: auto;
                }
            }
            .name{
                font-size: 1.25em;
                letter-spacing: 0.25em;
                font-weight: 100;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-image: $gray;
                border-image-slice: 1;
                padding: 0.5em 0px;
                margin: 1em 0em;
                text-align: center;
            }
        }
    }
}

