<section class="main">
    <div class="card">
        <div class="brand">
            <div class="logo">
                <img src="../../../assets/images/logo/logo.png" alt="">
            </div>
            <div class="name">
                WALKURE WALTZ
            </div>
        </div>
        <form class="form" novalidate>
            <ww-text>
                <input type="email" placeholder="usuario" name="usuario" [(ngModel)]="user.username" required email>
                <label>Usuario</label>
            </ww-text>
            <ww-text>
                <input type="password" placeholder="contraseña" name="contraseña" [(ngModel)]="user.password" required>
                <label>Contraseña</label>
            </ww-text>
            <ww-link routerLink="/nuevo-usuario">Nuevo usuario</ww-link>
            <ww-button class="mt-4" matTooltip="Iniciar sesión" matTooltipClass="ww-tooltip">
                <button type="submit" class="leaf" (click)="validateLogin();">
                    ACCEDER
                </button>
            </ww-button>
        </form>
    </div>
</section>