<div class="buttons mb-4">
    <ww-button (click)="modal_create.show()" class="mr-4">
        <button class="leaf">
            AÑADIR NUEVO
        </button>
    </ww-button>
</div>
<ww-table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Peso</th>
            <th>Tamaño</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.weight}} g</td>
            <td>{{product.size}}</td>
            <td>MXN {{product.price}}</td>
            <td matTooltip="Click para actualizar stock">{{product.stock}}</td>
            <td class="button-dots" [matMenuTriggerFor]="menu" matTooltip="Click para ver más acciones">
                <mat-icon class="material-icons-outlined">
                    more_horiz
                </mat-icon>
            </td>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Detalles</button>
                <button mat-menu-item>Actualizar</button>
                <button mat-menu-item (click)="delete(product._id)">Eliminar</button>
            </mat-menu>
        </tr>
    </tbody>
</ww-table>

<ww-modal #modal_create class="modal">
    <ww-modal-form>
        <form click-stop-propagation #form_agregar="ngForm">
            <h2>Agregar producto</h2>
            <hr>
            <p>Con este formulario puede añadir un nuevo producto al listado</p>
            <div class="input-field">
                <ww-text>
                    <input type="text" placeholder="name" ngModel name="name" required>
                    <label>Nombre</label>
                </ww-text>
                <ww-text>
                    <input type="text" placeholder="type" ngModel name="type">
                    <label>Tipo</label>
                </ww-text>
                <ww-text>
                    <input type="number" placeholder="name" ngModel name="weight">
                    <label>Peso (g)</label>
                </ww-text>
                <ww-text>
                    <input type="text" placeholder="name" ngModel name="size">
                    <label>Tamaño</label>
                </ww-text>
                <ww-text>
                    <input type="number" placeholder="name" ngModel name="stock" required>
                    <label>Stock</label>
                </ww-text>
                <ww-text>
                    <input type="text" placeholder="name" ngModel name="barcode" required>
                    <label>Código de barras</label>
                </ww-text>
                <ww-text>
                    <input type="number" placeholder="name" ngModel name="price" required>
                    <label>Precio unitario (MXN)</label>
                </ww-text>
                <ww-text>
                    <input type="text" placeholder="name" ngModel name="description">
                    <label>Descripción</label>
                </ww-text>
                <ww-combo>
                    <label>
                        Categoria
                    </label>
                    <select name="category">
                        <option value="">lorem</option>
                        <option value="">ipsum</option>
                    </select>
                </ww-combo>
                <ww-combo>
                    <label>
                        Provedor
                    </label>
                    <select name="category">
                        <option value="">lorem</option>
                        <option value="">ipsum</option>
                    </select>
                </ww-combo>
            </div>
            <ww-text>
                <input type="text" placeholder="name" ngModel name="details">
                <label>Detalles</label>
            </ww-text>
            <div class="buttons mt-8">
                <ww-button (click)="modal_create.hide()">
                    <button type="submit" class="sunset">CANCELAR</button>
                </ww-button>
                <ww-button (click)="submit_form_agregar(form_agregar, modal_create)">
                    <button class="leaf">AGREGAR PRODUCTO</button>
                </ww-button>
            </div>
        </form>
    </ww-modal-form>
</ww-modal>