@import "../../../styles.scss";

:host{
    display: block;
    width: 100%;
}
/*
::ng-deep input{
    background: red;
}
*/

::ng-deep .input-container {
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
}
::ng-deep input::placeholder {
    color: transparent;
}
::ng-deep .input-container input {
    width: 100%;
    padding: 0.5em 0em;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid transparent;
    border-image: $leaf;
    border-image-slice: 1;
    outline: none;
    background: transparent;
    color: $light;
}

::ng-deep input::-webkit-outer-spin-button,
::ng-deep input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep input[type="password"]{
    letter-spacing: 0.25em !important;
}
::ng-deep .input-container label {
    position: absolute;
    top:0;
    left: 0;
    padding: 0.5em 0em;
    font-size: 1em;
    pointer-events: none;
    transition: 300ms;
    background: $gray;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

::ng-deep .input-container input:focus ~ label,
::ng-deep .input-container input:not(:placeholder-shown) ~ label{
    top: -1.25em;
    left: 0;
    font-size: 0.75em;
}

/*
::ng-deep .input-container input:invalid{
    border-image: $gray;
    border-image-slice: 1;
}
*/

::ng-deep .input-container input:required ~label::after{
    content: "*";
    margin-left: 0.25em;
}
/*
::ng-deep .input-container input:invalid ~label::before{
    background: $sunset;
    background-clip: text;
    content: "Formato incorrecto";
    margin-right: 0.25em;
}
*/
::ng-deep .input-container input:focus{
    border-image: $sea;
    border-image-slice: 1;
}
::ng-deep .input-container input:hover{
    border-image: $sea;
    border-image-slice: 1;
}
