@import "../../../styles.scss";

:host{
    height: 100%;
    width: 100%;
}

.background{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: $blur-15;
    background: $glass-3;
    min-height: 100vh;
    width: 100%;
    .modal{
        width: 100%;
    }
}