<div class="workspace">
    <h1 class=" mt-0 mb-2">
        INICIO
    </h1>
    Click en cualquier espacio vacio para cerrar
    <div class="card-deck">
        <div class="card" click-stop-propagation>
            <div class="text-center">
                <h4>INVENTARIO</h4>
            </div>
            <hr class="mt-2 mb-4">
            <p>Funciones:</p>
            <ul>
                <li>Agregar productos</li>
                <li>Actualizar stock</li>
                <li>Agregar categorias</li>
                <li>Agregar provedores</li>
            </ul>
            <hr class="mt-4 mb-4">
            <ww-button routerLink="/inventario">
                <button class="sea">
                    ABIRIR
                </button>
            </ww-button>
        </div>
        <div class="card" click-stop-propagation>
            <div class="text-center">
                <h4>VENTAS</h4>
            </div>
            <hr class="mt-2 mb-4">
            <p>Funciones:</p>
            <ul>
                <li>Vender productos</li>
                <li>Emitir facturas</li>
                <li>Generar tickets</li>
                <li>Consultar precios</li>
            </ul>
            <hr class="mt-4 mb-4">
            <ww-button>
                <button class="sea">
                    ABIRIR
                </button>
            </ww-button>
        </div>
        <div class="card" click-stop-propagation>
            <div class="text-center">
                <h4>REPORTES</h4>
            </div>
            <hr class="mt-2 mb-4">
            <p>Funciones:</p>
            <ul>
                <li>Generar reportes</li>
                <li>Imprimir reportes</li>
                <li>Obtener análisis</li>
            </ul>
            <hr class="mt-4 mb-4">
            <ww-button>
                <button class="sea">
                    ABIRIR
                </button>
            </ww-button>
        </div>
        <!--div class="card" click-stop-propagation>
            <div class="text-center">
                <h4>EMPLEADOS</h4>
            </div>
            <hr class="mt-2 mb-4">
            <p>Funciones:</p>
            <ul>
                <li>Agregar empleados</li>
                <li>Reviar expedientes</li>
                <li>Marcar asistencia</li>
            </ul>
            <hr class="mt-4 mb-4">
            <ww-button>
                <button class="sea">
                    ABIRIR
                </button>
            </ww-button>
        </div>
        <div class="card" click-stop-propagation>
            <div class="text-center">
                <h4>EQUIPOS</h4>
            </div>
            <hr class="mt-2 mb-4">
            <p>Funciones:</p>
            <ul>
                <li>Crear equipos</li>
                <li>Asignar tareas</li>
                <li>Revisar progresos</li>
            </ul>
            <hr class="mt-4 mb-4">
            <ww-button>
                <button class="sea">
                    ABIRIR
                </button>
            </ww-button>
        </div-->
        <!--div class="card" click-stop-propagation>
            <div class="text-center">
                <h4>SEGURIDAD</h4>
            </div>
            <hr class="mt-2 mb-4">
            <p>Funciones:</p>
            <ul>
                <li>Testear vulnerabilidades</li>
            </ul>
            <hr class="mt-4 mb-4">
            <ww-button routerLink="/seguridad">
                <button class="sea">
                    ABIRIR
                </button>
            </ww-button>
        </div-->
    </div>
</div>