@import "../../../styles.scss";

:host{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.workspace{
    z-index: 900;
    position: absolute;
    padding: 3em;
    min-height: 100vh;
    width: 100%;
    h1{
        font-size: 2em;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 0.25em;
    }
    h2{
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        font-weight: lighter;
        margin: 0px;
        margin-top: 1em;
    }
    .card-deck{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5em;
        .card{
            flex: 0 1 calc(20% - 1em);

            border: 1px solid transparent;
            border-image: $gray;
            border-image-slice: 1;

            padding: 1em;
            margin-right: 1em;
            margin-bottom: 1em;

            display: flex;
            flex-direction: column;

            h4{
                margin: 0px;
                margin-bottom: 1em;
                background: $sea;
                letter-spacing: 0.25em;
                background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
            p{
                color: $the_gray;
                margin: 0px;
            }
            ww-button{
                margin-top: auto;
            }
            hr {
                margin: 0;
                margin-bottom: 1em;
            }
        }
    }
    }