@import "../../../styles.scss";

.workspace{
    padding: 2em;
    margin-left: 3em;

    ::ng-deep h1{
        font-size: 2em;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 0.25em;
        margin: 0px;
        margin-bottom: 0.5em;
    };
    ::ng-deep h2{
        font-size: 1.5em;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        font-weight: lighter;
    };
    ::ng-deep h3{
        font-size: 1em;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        font-weight: bold;
    }
}
