@import "../../../styles.scss";

:host{
    display: block;
}

::ng-deep button{
    border: none;
    width: 100%;
    text-align: center;
    color: $dark;
    padding: 0.5em;
    letter-spacing: 0.25em;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    position: relative;
    transition: 300ms all;
    background: $cristal-2;
    &:disabled{
        background: $gray;
        cursor: not-allowed !important;
    }
    &:hover{
        cursor: pointer;
        &::before {
            left: 100%;
        }
    }
    &:active{
        transform: scale(0.975);
    }
    &::before {
        background: $light;
        content: "";
        height: 5em;
        width: 4em;
        left: -4em;
        top: 0;
        opacity: .2;
        position: absolute;
        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
    }
}

::ng-deep .leaf{
    background: $leaf;
}
::ng-deep .sunset{
    background: $sunset;
}
::ng-deep .sea{
    background: $sea;
}
::ng-deep .rose{
    background: $rose;
}
::ng-deep .gray{
    background: $gray;
    color: $light;
}
::ng-deep .light{
    background: $light;
}
::ng-deep .dark{
    background: $dark;
    color: $light;
}