@import '../../../styles.scss';

.overlay{
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 2000;
    pointer-events: none;
    overflow: hidden;
}

.toast{
    background: $dark;
    display: inline-flex;
    border: 1px solid $the_gray;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 300px;
    align-items: center;
    //box-shadow: $shadow-1;
    animation: 300ms ease-out 0s 1 slideInFromLeft;
    .msg{
        margin-left: 1em;
        line-height: 1.25em;
    }
    &.leaf{
        border-image: $leaf;
        border-image-slice: 1;

        mat-icon{
            background: $leaf;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.sea{
        border-image: $sea;
        border-image-slice: 1;

        mat-icon{
            background: $sea;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.sunset{
        border-image: $sunset;
        border-image-slice: 1;

        mat-icon{
            background: $sunset;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.rose{
        border-image: $rose;
        border-image-slice: 1;

        mat-icon{
            background: $rose;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}