<div class="overlay">
    <div class="toast" *ngFor="let toast of toasts" [class]="toast.color">
        <mat-icon class="material-icons-outlined">
            {{toast.icon}}
        </mat-icon>
        <div class="msg">
            {{toast.message}}
        </div>
    </div>
</div>