<div class="bar">
    <img class="isotype" src="../../../assets/images/logo/logo.png" alt="Walkure Waltz" routerLink="/inicio">

    <hr class="m-0 mr-1 ml-1">

    <div class="icon-container pt-3 pb-3" matTooltip="Ver herramientas disponibles" matTooltipClass="ww-tooltip"
        (click)="home.show()">
        <mat-icon class="material-icons-outlined icon">
            apps
        </mat-icon>
    </div>
    <div class="icon-container pt-3 pb-3" matTooltip="Abrir herramienta externa" matTooltipClass="ww-tooltip">
        <mat-icon class="material-icons-outlined icon">
            add_circle_outline
        </mat-icon>
    </div>

    <hr class="m-0 mr-1 ml-1">

    <div class="icon-container pt-3 pb-3" matTooltip="Configuración de cuenta" matTooltipClass="ww-tooltip">
        <mat-icon class="material-icons-outlined icon">
            account_circle
        </mat-icon>
    </div>
    <div class="icon-container pt-3 pb-3" matTooltip="Ayuda" matTooltipClass="ww-tooltip">
        <mat-icon class="material-icons-outlined icon">
            help_outline
        </mat-icon>
    </div>

    <hr class="m-0 mr-1 ml-1">

    <div class="icon-container pt-3 pb-3 red" [routerLink]="['/']" matTooltip="Cerrar sesión"
        matTooltipClass="ww-tooltip">
        <mat-icon class="material-icons-outlined icon">
            logout
        </mat-icon>
    </div>
</div>
<div class="workspace">
    <ng-content></ng-content>
    <ww-modal #home>
        <ww-home></ww-home>
    </ww-modal>
</div>