@import "../../../styles.scss";

.bar{
    position: fixed;
    min-height: 100vh;
    border-right: 1px solid transparent;
    border-image: $gray;
    border-image-slice: 1;   

    .isotype{
        margin: 0.5em;
        width: 2em;
        height: auto;
        &:hover{
            cursor: pointer;
        }
    }

    .icon-container{
        width: 100%;
        display: flex;
        justify-content: center;
        .icon{
            font-size: 1.5em !important;
            background: $leaf;
            background-clip: text;
                -webkit-text-fill-color: transparent;
        }
        &:hover{
            background: $leaf;
            cursor: pointer;
            .icon{
                background: $dark;
                background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
        &.red{
            .icon{
                background: $sunset;
                background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
            &:hover{
                background: $sunset;
                .icon{
                    background: $dark;
                    background-clip: text;
                        -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}
.workspace{
    width: auto;
}