@import '../../../styles.scss';

:host{
    display: block;
    width: 100%;
}
::ng-deep select{
    width: 100%;
    background: $dark;
    appearance: none;
    line-height: 1em;
    border: none;
    border-bottom: 1px solid transparent;
    background: $glass-1;
    border-image: $leaf;
    border-image-slice: 1;
    padding: 0.5em 0.5em;
    color: $light;
    outline: none;
    margin-top: 1em;
    font-weight: normal;
    &:hover{
        cursor: pointer;
        border-image: $sea;
        border-image-slice: 1;
    }

    option{
        background: $light;
        color: $dark;
    }
}

::ng-deep ww-combo label{
    position: absolute;
    top: 1.25;
    font-size: 0.75em;
    background: $gray;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}