<ww-sidebar>
    <ww-container>
        <h1>SEGURIDAD</h1>
        Este modulo permite comprobar el funcionamiento de los modulos de seguridad
        <hr>
        <div class="buttons">
            <ww-button class="mr-4">
                <button [ngClass]="{'sunset':proteccion}"
                    (click)="proteccion=true;validacion=false;encriptacion=false;modal.show()">
                    Protección de datos

                </button>
            </ww-button>
            <ww-button class="mr-4">
                <button [ngClass]="{'sunset':validacion}" (click)="proteccion=false;validacion=true;encriptacion=false">
                    Validación
                </button>
            </ww-button>
            <ww-button class="mr-4">
                <button [ngClass]="{'sunset':encriptacion}"
                    (click)="proteccion=false;validacion=false;encriptacion=true">
                    Encriptación
                </button>
            </ww-button>
        </div>
        <hr>
        <section *ngIf="proteccion">
            <h2>Protección</h2>
            Prevención de XSS
            <form #f="ngForm" class="form">
                <ww-text>
                    <input type="text" placeholder="Código" ngModel name="code">
                    <label>Código</label>
                </ww-text>
                <div class="here-code" [textContent]="unwrap(f.value.code | dompurify)"></div>
            </form>
        </section>
        <section *ngIf="validacion">
            <h2>Validación</h2>
            Herramientas para validar formularios
            <form #ftest="ngForm">
                <ww-text>
                    <input type="text" placeholder="sample" ngModel name="inputText">
                    <label>Text</label>
                </ww-text>
                <ww-text>
                    <input type="text" placeholder="sample" ngModel name="required" required>
                    <label>Text required</label>
                </ww-text>
                <ww-text>
                    <input type="email" placeholder="sample" ngModel name="code" email>
                    <label>Email</label>
                </ww-text>
                <ww-text>
                    <input type="email" placeholder="sample" ngModel name="code" email required>
                    <label>Email required</label>
                </ww-text>
                <ww-button class="mt-4">
                    <button type="submit" class="leaf" [disabled]="ftest.invalid">
                        SUBMIT
                    </button>
                </ww-button>
            </form>
        </section>
        <section *ngIf="encriptacion">
            <h2>Encriptación</h2>
            <div>
                <form #fe="ngForm" (ngSubmit)="enc(fe)">
                    <ww-text>
                        <input type="text" placeholder="sample" ngModel name="inputText">
                        <label>Encriptar</label>
                    </ww-text>
                    <p>
                        Salida: {{imp}}
                    </p>
                </form>
                <br>
                <form #fd="ngForm" (ngSubmit)="dec(fd)">
                    <ww-text>
                        <input type="text" placeholder="sample" ngModel name="inputText">
                        <label>Encriptar</label>
                    </ww-text>
                    <p>
                        Salida: {{out}}
                    </p>
                </form>
            </div>
        </section>
        <ww-modal #modal>
            Hello
        </ww-modal>
    </ww-container>
</ww-sidebar>