@import "../../../styles.scss";

form{
    max-width: 400px;
}
.buttons{
    width: 100%;
    ww-button{
        display: inline-block;
        ::ng-deep button{
            text-transform: uppercase;
        }
    }
}
.here-code{
    border: 1px solid transparent;
    border-image: $gray;
    border-image-slice: 1;
    padding: 1em;
}

