<section>
    <div class="container">
        <h1>404</h1>
        <hr class=" mt-4 mb-4">
        <p class="text-center">No se ha encontrado la página solicitada.</p>
        <hr class=" mt-4 mb-4">
        <p>Usted puede:</p>
        <ul>
            <li>
                <ww-link routerLink="/">Navegar a la raiz del sitio</ww-link>
            </li>
            <li>Revisar la dirección ingresada</li>
        </ul>
        <p class="advice mt-4">Si este error persiste pongase en contacto con el area de soporte</p>
    </div>
</section>