@import "../../../styles.scss";
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid transparent;
    border-image: $gray;
    border-image-slice: 1   ;
    width: 400px;
    margin: auto;
    padding: 1.5em;
}
h1{
    font-size: 5em;
    font-weight: bolder;
    letter-spacing: $s-1;
    background: $sunset;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    margin: 0px;;
}

.advice{
    font-size: $s-3;
    color: gray;
    text-align: center;
}