@import "../../../styles.scss";

table{
    width: 100%;
    border-collapse: collapse;
}
::ng-deep td, ::ng-deep th{
    border: 1px solid $cristal-1;
}
::ng-deep th{
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: left;
    background: $leaf;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5em 1em;
}

::ng-deep td{
    font-weight: lighter;
    padding: 1em;
}
::ng-deep thead{
    background: $glass-2;
}